.container {
  width: 384px;
  border-radius: 10px;
  padding: 48px 32px 32px;
  border: 1px solid #e2e8f0;
}

.darkContainer {
  background-color: #0f172a;
  border: none;
}

#description {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 6%;
  padding-bottom: 8px;
}

.darkContainer p {
  color: #996dff;
  font-family: Arial, Helvetica, sans-serif;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details h1 {
  font-weight: 700;
  font-size: 32px;
}

.darkContainer .details h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.darkContainer .details p,
.darkContainer .details strong,
.darkContainer .details span {
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}

.darkContainer p {
  font-size: 18px;
  font-weight: 400;
}

.darkContainer strong {
  font-size: 24px;
  font-weight: 600;
}

.darkContainer span {
  font-size: 18px;
  font-weight: 600;
}
